.contactus-content-container{
    width:60%;
    min-height: 50vh;
    padding: 20px;
    background-color: #556d8380;
    margin-left: 20px;
    border-radius: 8px;
    margin-top: 20px;
  
}
.contactus-content-container h3{
    color: chocolate;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
    font-size: 20px;
}